@import "../../style.css";


.mulInput{
  height: 35px;
  border-radius: 6px;
  border: 1px solid rgb(55, 55, 55);
}
label{
  line-height: 35px;
}
option{
  background-color: transparent
}
/* 未勾選時 */
.optionUncheck{
  display: flex;
  align-items: center;
  font-size: 16px;
}
.optionUncheck:hover{
  background-color: gray;
  color: white;
}
.optionUncheck::before{
  content: "\2610";
  font-size: 25px;
  padding-right: 5px;
}
/* 取消選取時的樣式 */
select:focus-visible {
  outline:0px;
}

/* 勾選後 */
.optionCheck{
  display: flex;
  background-color: gray;
  color: white;
  align-items: center;
  font-size: 16px;
}
.optionCheck:hover{
  background-color: gray;
  color: white;
}
.optionCheck::before{
  content: "\2611";
  font-size: 25px;
  padding-right: 5px;
}
