/* 共用Style命名參考Bootstrap */
.d-flex{
  display: flex;
}
.flex-direction-column{
  flex-direction: column;
}
.text-align-center{
  text-align: center;
}
.d-none{
  display: none;
}
input{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.noWrap{
  white-space: noWrap;
}
.m-2{
  margin:10px;
}
.ww-200{
  width: 250px;
}
/* -------------- */
.detailForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}