.d-flex{
  display: flex;
}
.flex-direction-column{
  flex-direction: column;
}
.d-none{
  display: none;
}
input{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.noWrap{
  white-space: noWrap;
}
.w-100{
  width: 100%;
}
.w-80{
  width: 80%;
}
.w-20{
  width: 20%;
}
.ww-200{
  width: 250px;
}